---
import Layout from "@/layouts/Layout.astro"

import AboutMe from "@/components/AboutMe.astro"
import Briefcase from "@/components/icons/Briefcase.astro"
import CodeIcon from "@/components/icons/Code.astro"
import Experience from "@/components/Experience.astro"
import ProfileCheck from "@/components/icons/ProfileCheck.astro"
import Projects from "@/components/Projects.astro"
import SectionContainer from "@/components/SectionContainer.astro"
import Hero from "@/components/Hero.astro"
import TitleSection from "@/components/TitleSection.astro"
import { getI18n } from "@/i18n"

const lang = "en"
const text = getI18n(lang)
---

<Layout title={text.layout.titleHome} description="" lang={lang}>
  <main class="px-4">
    <SectionContainer class="py-16 md:py-36">
      <Hero lang={lang} />
    </SectionContainer>
    <div class="space-y-24">
      <SectionContainer id="experiencia">
        <TitleSection>
          <Briefcase class="size-8" />
          {text.layout.sections.experience}
        </TitleSection>
        <Experience lang={lang} />
      </SectionContainer>

      <SectionContainer id="proyectos" class="max-w-none">
        <TitleSection>
          <CodeIcon class="size-7" />
          {text.layout.sections.projects}
        </TitleSection>
        <Projects lang={lang} />
      </SectionContainer>

      <SectionContainer id="sobre-mi">
        <TitleSection>
          <ProfileCheck class="size-8" />
          {text.layout.sections.about}
        </TitleSection>
        <AboutMe lang={lang} />
      </SectionContainer>
    </div>
  </main>
</Layout>
